@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loader {
    animation: radarRotate 2s linear;
    filter: drop-shadow(0 0 12px #01b6be);
  }
}

@keyframes radarRotate {
  100% {
    transform: rotate(-360deg);
  }
}
